<div class="content-fluid faq">
	<h1 class="faqTitle">FAQ</h1>

	<ul class="faqUl">
		<li>
			<h3>Is there a fee?</h3>
			<p>There is no charge to sign up for Project D.I.L.F. and prevent participating drones from flying over your property. In the future, we may offer premium services, but signing up to prevent all participating drones from flying over residential property will remain free of charge.</p>
		</li>
		<li>
			<h3>Why should I register my drone on Project D.I.L.F.?</h3>
			<p>Registering on Project D.I.L.F. will help to prevent drones from flying over your property. Your property will be included in the  Project D.I.L.F. database. Only participating drone manufacturers and operators voluntarily agree to respect your desire for privacy. We cannot guarantee that all drones will be prevented from flying over your property.</p>
		</li>
		<li>
			<h3>Why was Project D.I.L.F. created?</h3>
			<p>Evolving technology is allowing drones to have a positive impact on everyday lives through many applications. However, drones may also affect lives in a negative way. While the FAA and other similar regulatory agencies around the world struggle with implementing rules about drones, drone manufacturers and operators want to take a proactive step to self-regulate and deliver quality products and services while minimizing negative consequences.			</p>
		</li>
		<li>
			<h3>What should I do if I want to fly a drone over my land but there is a no fly zone there?</h3>
			<p>If you want to fly your drone over your land and there is a no fly zone preventing you from flying, you must request access from the owner of that property. Remember, this is done in real time, so you shouldn't be waiting for too long. </p>
		</li>
	</ul>

</div>
