{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div class="content-fluid">
	<div id="map" class="map-wrapper"></div>
	<div class="leaflet-bar leaflet-control leaflet-save">
		<a href="#" class="disabled" id="save">
			<span class="glyphicon glyphicon-floppy-disk"></span>
		</a>
	</div>
</div>
