// out: style.css
@import "../bootstrap/less/custom-bootstrap-variables.less";

body {
  padding: 0px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.menu {
  z-index: 1001;

	.glyphicon {
		// color: #fff;
		font-size: 20px;
    line-height: initial;
		// padding: 0 15px;
	}

  .logo {
    background-image: url(../img/logoDILF.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 15px center;
    font-size: x-large;

    padding-left: 60px;

    @media (max-width: @screen-xs-max) {
      display: none;
    }
  }

  .search-form {
    margin: -8px 0;
    white-space: nowrap;
    width: 350px;
    @media (max-width: @screen-xs-max) {
      width: 150px;
    }

    input {
      display: inline-block;
      width: 80%;
    }
  }

  .search-control {
    border: 0;
    box-shadow: none;
  }

	.dropdown-menu {
		.glyphicon {
			color: #ccc;
			// font-size: 30px;
			padding-right: 15px;
		}
	}

	.search {
		width: 250px;
    margin-top: -7px;

    @media (max-width: @screen-xs-max) {
      width: 200px;
    }
	}
}

#map {
	height: 500px;
	width: 100%;
}
