@import "../leaflet_draw/leaflet_draw.css";
body {
  padding: 0px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.menu {
  z-index: 1001;
}
.menu .glyphicon {
  font-size: 20px;
  line-height: initial;
}
.menu .logo {
  background-image: url(../img/logoDILF.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: 15px center;
  font-size: x-large;
  padding-left: 60px;
}
@media (max-width: 767px) {
  .menu .logo {
    display: none;
  }
}
.menu .search-form {
  margin: -8px 0;
  white-space: nowrap;
  width: 350px;
}
@media (max-width: 767px) {
  .menu .search-form {
    width: 150px;
  }
}
.menu .search-form input {
  display: inline-block;
  width: 80%;
}
.menu .search-control {
  border: 0;
  box-shadow: none;
}
.menu .dropdown-menu .glyphicon {
  color: #ccc;
  padding-right: 15px;
}
.menu .search {
  width: 250px;
  margin-top: -7px;
}
@media (max-width: 767px) {
  .menu .search {
    width: 200px;
  }
}
#map {
  height: 500px;
  width: 100%;
}
.leaflet-save {
  width: 26px;
  position: absolute;
  top: 330px;
  left: 10px;
}
.leaflet-save a span {
  color: #4d4d4d;
}
