// out: style.css
@import "../bootstrap/less/custom-bootstrap-variables.less";

body {
  padding: 0px;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.menu {
  z-index: 1001;

	.glyphicon {
		// color: #fff;
		font-size: 20px;
		// padding: 0 15px;
	}

  .logo {
    @media (max-width: @screen-xs-max) {
      display: none;
    }
  }

	.dropdown-menu {
		.glyphicon {
			color: #ccc;
			// font-size: 30px;
			padding-right: 15px;
		}
	}

	.search {
		width: 250px;
    margin-top: -7px;

    @media (max-width: @screen-xs-max) {
      width: 200px;
    }
	}
}

#map {
	height: 500px;
	width: 100%;
}
